* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Estilo principal */
main {
  width: 100%;
  max-width: 760px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #5d5c61;
  margin-bottom: 1.5rem;
  text-align: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  font-size: 0.875em;
  margin-bottom: 0.5rem;
  color: #444;
}

input[type="text"] {
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #fdfdfd;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #6c63ff;
  outline: none;
}

button {
  padding: 0.75rem 2.5rem;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #574b90;
  transform: translateY(-3px);
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

/* Estilo para a exibição da média e situação */
p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #444;
}

#media {
  font-weight: bold;
  color: #333;
}

.aprovado {
  color: #4caf50;
  font-weight: bold;
  margin-left: 1rem;
}

.reprovado {
  color: #ff5c33;
  font-weight: bold;
  margin-left: 1rem;
}